In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('localhost', 27017)

In [3]:
db = client['test-database']

In [4]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test-database')

In [5]:
collection = db['test-collection']

In [7]:
collection.count()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

0

In [9]:
collection.estimated_document_count()

0

In [10]:
test_data = {'age': 39, 'gender': 'F'}

In [11]:
test_data

{'age': 39, 'gender': 'F'}

In [12]:
type(test_data)

dict

In [13]:
insert_result = collection.insert_one(test_data)

In [16]:
insert_result.acknowledged

True

In [17]:
collection.count()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.

1

In [18]:
db = client['chapter3']

In [19]:
collection = db['income']

In [20]:
with open ('Desktop/Projects/MongoDB/Exercise Files/Ch03/03_08/income_header.txt') as f_in:
    columns_headings = f_in.readline()

In [21]:
columns_headings

'age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label'

In [22]:
columns_headings_list = columns_headings.split(',')

In [23]:
columns_headings_list

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'label']

In [25]:
row_dict_list = list()
with open('Desktop/Projects/MongoDB/income.txt') as f_in:
    for line in f_in:
        row_list = line.rstrip('\n').split(',')
        row_dict = dict(zip(columns_headings_list, row_list))
        row_dict_list.append(row_dict)
        collection.insert_one(row_dict)

In [26]:
collection.estimated_document_count()

32562

In [29]:
age39 = collection.find_one({'age':39})

In [30]:
age39

In [31]:
row_dict_list[0]

{'age': '39',
 'workclass': ' State-gov',
 'fnlwgt': ' 77516',
 'education': ' Bachelors',
 'education-num': ' 13',
 'marital-status': ' Never-married',
 'occupation': ' Adm-clerical',
 'relationship': ' Not-in-family',
 'race': ' White',
 'sex': ' Male',
 'capital-gain': ' 2174',
 'capital-loss': ' 0',
 'hours-per-week': ' 40',
 'native-country': ' United-States',
 'label': ' <=50K',
 '_id': ObjectId('5eee65bee300dd25ae9d7d94')}

In [35]:
collection.delete_many({})

In [33]:
collection.estimated_document_count()

0

In [36]:
row_dict_list = list()
with open('Desktop/Projects/MongoDB/income.txt') as f_in:
    for line in f_in:
        row_list = line.rstrip('\n').split(',')
        row_dict = dict(zip(columns_headings_list, row_list))
        try:
            row_dict['age'] = int(row_dict['age'])
            row_dict_list.append(row_dict)
            collection.insert_one(row_dict)
        except:
            pass

In [37]:
over35 = collection.find({'age': {"$gt": 35}})

In [40]:
over35.count()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

17636

In [41]:
import time

In [43]:
index_result = db.profiles.create_index([('age', pymongo.ASCENDING)], unique=False)

In [45]:
start = time.time()
over40 = collection.find({'age': {"eq": 40}})
end = time.time()
t = end-start
t

0.00010204315185546875

In [46]:
import pandas as pd

In [47]:
client = pymongo.MongoClient('localhost', 27017)

In [48]:
db = client['chapter3']

In [49]:
collection = db['income']

In [51]:
income_df = pd.DataFrame(list(collection.find()))

In [52]:
income_df.head()

,_id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,5eee6757e300dd25ae9e7bf7,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,5eee6757e300dd25ae9e7bf8,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,5eee6757e300dd25ae9e7bf9,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,5eee6757e300dd25ae9e7bfa,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,5eee6757e300dd25ae9e7bfb,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [53]:
income_df.mean()

age    38.581647
dtype: float64